<div class="bd2"></div>
<footer><div class="w">
<div class="fg">
<div><h4>PokéTech Research &amp; Development Corp.</h4><p>Investigación de especies y tecnología Pokédex para todas las regiones.</p><p class="dots" style="margin-top:14px"><i style="background:#000"></i><i style="background:var(--red)"></i><i style="background:#fff"></i><i style="background:var(--blu)"></i></p></div>
<div><h4>Empresa</h4><a href="../pages/estrategia.html">Estrategia</a><a href="../pages/organizacion.html">Organización</a><a href="../pages/compromiso.html">Compromiso</a></div>
<div><h4>Tienda</h4><a href="../pages/tienda.html">Catálogo Pokédex</a><a href="../pages/trabajo.html">Trabaja con nosotros</a></div>
</div>
<div class="cp">© 2026 PokéTech Research &amp; Development Corp. Todos los derechos reservados. Privacidad · Términos · Ética Pokémon</div>
</div></footer>
